<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body class="flex flex-col items-center">

    <input class="message" type="text" value="t" style="display: none;">

    
    <div class="sticky top-0 navbar bg-base-100 shadow-sm">
        <div class="flex-1 cursor-pointer">
            <a href="/main" class="text-xl font-semibold text-gray-800 hover:text-blue-600 transition-colors">
              <span class="text-blue-600">Menu</span>Creator
            </a>
          </div>
        <div class="flex">
          <button class="btn btn-soft btn-success mr-2" id="save">Save</button>  
          <button class="btn btn-primary" id="add-section">+ Section</button>
        </div>
    </div>

    <div class="w-full h-48 flex justify-center mt-6">

        <div class="flex flex-col items-center justify-center w-4/5 min-h-48 bg-gradient-to-br from-gray-900 to-gray-700 text-center p-10 rounded-xl">
            <h1 class="text-xl sm:text-2xl font-extrabold text-white tracking-wide drop-shadow-lg">
                Effortlessly create sections, add items, and arrange them
            </h1>
            <h2 class="text-2xl sm:text-3xl font-extrabold text-purple-400 mt-3 animate-pulse drop-shadow-lg">
                with drag-and-drop
            </h2>
            <div class="mt-4 w-16 h-1 bg-purple-400 rounded-full"></div>
        </div>

    </div>
    
    <hr class="mt-10 mb-10 w-4/5">



    <div class="container w-full flex flex-col items-center max-w-[900px]">

      

    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.2/Sortable.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/alert.js"></script> 
<script src="/js/menu.js"></script>
<script src="/js/save-menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</body>
</html>


<script>
    let data = <%- JSON.stringify(data) %>;
</script>


